#root, html{
  background: #000000;
}


.trailer{
  width: 100%;
  border: none;
  /* border: 1px solid #8a74fcff;
  box-shadow:0px 2px 10px 2px #8a74fcff;   */
} 
/* -------------- TABLET --------------  */
@media (min-width: 768px) {
 /* ------- sliderParallaxHero -------  */
  .trailer{
    height: 430px;
  }
}

@media (min-width: 1024px) {
 /* ------- sliderParallaxHero -------  */
  .trailer{
    height: 500px;
  }
}
/* .parallax_bg, .swiper-pagination-bullets{
  color:blueviolet
} */
/* html,
body {
  position: relative;
  height: 100%;
  background: #f47575fb;

} */
/* 
body {
  background: #93d21f;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
} */







