#root, html {
  /* height: 100%; */
  background: #000000;

}
.trailer{
  width: 500%;
  height: 400px;
}

/* .parallax_bg, .swiper-pagination-bullets{
  color:blueviolet
} */
/* html,
body {
  position: relative;
  height: 100%;
  background: #f47575fb;

} */
/* 
body {
  background: #93d21f;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
} */







